<!DOCTYPE html>
<html>
<head>
    <title>Modelo Fotovoltaico</title>
    <link rel="stylesheet" href="stylei">
</head>
<body>
    <h1>Ingrese Datos de Irradiancia y Temperatura</h1>
    <form action="/submit" method="post">
        Irradiancia (G): <input type="text" name="irradiance" placeholder="Irradiancia entre 800 y 1200 W/m^2"><br><br>
        Temperatura (T): <input type="text" name="temperature" placeholder="Temperatura entre 15ºC y 35ºC "><br><br>
        <input type="submit" value="Calcular">
    </form>
    <footer>
        <h1>Estudiantes:</h1>
        <h3>Diogenes Barreto Alvarez</h3>
        <h3>Carlos Mauricio Moreno Rojas</h3>
        <h3>Miller Alexander Quiroga Campos</h3>
        <h3>John Mario Gutierrez</h3>
    </footer>
</body>
</html>